* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(182, 200, 215);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

.first {
  color: rgb(172, 82, 151);
}

#test-box {
  background-color: blanchedalmond;
  border: 5px solid #444;
  margin: 15px;
  padding: 50px;
  text-align: center;
}
